<div class="w-full h-full">
  <app-header></app-header>
  <div class="flex bg-white" style="height: 600px">
    <div
      class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2"
    >
      <div>
        <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl">
          Proyectando un mejor <span class="text-indigo-600">Futuro</span>
        </h2>
        <p class="mt-2 text-sm text-gray-500 md:text-base">
          Con una mejor experiencia para la presentación de tus proyectos, desde
          la comodidad de tu hogar hacia el mundo
        </p>
      </div>
    </div>
    <div
      class="hidden lg:block lg:w-1/2"
      style="clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%)"
    >
      <div
        class="w-full h-full bg-cover"
        style="
          background-image: url(../../assets/img/congresos.jpg);
          background-repeat: no-repeat;
        "
      >
        <div class="h-full bg-black opacity-25"></div>
      </div>
    </div>
  </div>
</div>
